.movie__heading {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  font-family: "Oswald", sans-serif;
  transform: scale(0.9, 1.2);
  position: relative;
  top: 3%;
  margin-bottom: 30px;
}

.hot__movie{
    margin-top: 5%;
}
