.slider {
  margin-top: 0;
  width: 100%;
  height: 10%;
  -webkit-mask-image: radial-gradient(
    circle,
    rgb(0, 0, 0) 80%,
    rgb(0, 0, 0, 0.5) 110%
  );
  mask-image: radial-gradient(
    circle,
    rgb(0, 0, 0) 100%s,
    rgba(0, 0, 0, 0.5) 110%
  );
}

